/* pinned messages flyout */
/* - container */
div[class*="messagesPopoutWrap"] {
  background-color: var(--glass-menu-bg-primary-600-20a);
  backdrop-filter: blur(var(--glass-menu-bg-blur));
}
/* - header */
div[class*="messagesPopoutWrap"] > div[class*="header"] {
  background-color: var(--glass-menu-bg-tertiary-700-50a);
}
/* - message cells */
div[class*="messagesPopoutWrap"] > 
div[class*="messagesPopout"] >
div[role="list"] >
div[class*="messageGroupWrapper"] {
  background: none;
  background-color: var(--glass-menu-bg-primary-600-50a);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div[class*="messagesPopoutWrap"] div[class*="footer"] {
  background-color: var(--glass-menu-bg-tertiary-700-50a);
}