/* fix attachment bg's in chatbar */
div[class*="channelTextArea"] > div[class*="scrollableContainer"] > ul[class*="channelAttachmentArea"] > li[class*="upload"] {
  background-color: var(--glass-menu-bg-primary-500-25a);
}

/* fix attachment actionbar buttons */
div[class*="channelTextArea"] > div > ul[class*="channelAttachmentArea"] > li[class*="upload"]
div[class*="actionBarContainer"] > div[class*="actionBar"] > div[class*="wrapper"] {
  background-color: var(--brand-experiment-05a);
  backdrop-filter: blur(var(--glass-menu-bg-blur));
}